@import url(./mobile.module.css);
.navbarContainer{
    display: flex;
    padding: 10px 20px;
    border-bottom: 2px solid gray;
    background-color: transparent;
    z-index: 20;
    color: aliceblue;
    position: absolute;
    width: 100%;
    /* box-shadow: inset 20px gray; */
}
.navbarContent{
    display: flex;
    /* flex-direction: row; */
    gap: 400px;
    justify-content: space-between;
    
}
.navbarroute{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;

}
.heroContainer{
    display: flex;
    
    background-image: url(/pot3.avif);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.heroContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: aliceblue;
    background-color: transparent;
    padding: 0 50px;
    width: 100%;
    margin-top: 70px;
    backdrop-filter: blur(3px);
    
}
.heroContent > p{
    flex-wrap: wrap;
    width: 50%;
}
.button{
    padding: 10px 13px;
    background-color: rgb(95, 36, 36);
    color: aliceblue;
    border: 2px solid rgb(95, 36, 36);
    border-radius: 4px;
}
.aboutContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    /* flex-direction: row; */
}
.aboutContent{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    /* padding: 20px; */
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    width: 50%;
    padding: 70px 0;
    gap: 20px;



}
.about > p {
    flex-wrap: wrap;
    width: 50%;
    margin-top: 15px;

    /* flex: 1fr; */
}

.aboutReg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 46, 46, 0.99);
    color: aliceblue;

    width: 50%;
    padding: 70px 0;
    gap: 20px;



}
.span{
    border-bottom: 4px solid brown ;
    padding-bottom: 5px;
}
.workshopContainer , .studioContainer ,.artContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}
.workshopContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.workshoptext{
    flex: 1;
    padding: 70px 0 0 0;
    align-items: center;
    overflow: hidden;
    height: 300px;
    text-align: center;
    background-color: rgba(47, 46, 46, 0.99);


   

}
.workshoptext > p{
    flex-wrap: wrap;
    padding: 0 50px;
    margin: 30px 0;
}
.container{
    height: 300px;
    overflow: hidden;
    flex: 1.5;
    background-color: aquamarine;

}
.workshopImg{
    height: 300px;
}
.studioContent{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.artContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.artContainer{
    background-color: blanchedalmond;
    padding:20px  30px;
}
.arttext{
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 50px;

}
.arttext > p{
    flex-wrap: wrap;
    text-align: center;
    padding:20px 200px;
}
.artproduct{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.artimg{
    width: 300px;
    height: 200px;
    margin: 20px 0;
    animation: fadee 1s ease 0s 1 normal forwards;

}
@keyframes fadee {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.testimoniaContainer{
    display: flex;
    overflow: hidden;

    background-image: url(/pot4.avif);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    width: 100%;
    height: 60vh;
}
.testimoniaContent{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.testimoniatext{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 30px;
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
    position: relative;
    top: 50%;
    left: 34vw;
    z-index: 20;
    margin-top: -150px;
    animation: fadee 1s ease 0s 1 normal forwards;

}
.test{
    background-color: black;
}
.footerContainer{
    background-color: rgba(47, 46, 46, 0.99);
    color: aliceblue;
    overflow: hidden;
    
    
}
.footerContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    color: gray;

    
}
.footersub{
    display: flex;
    gap: 20px;
}
@media only screen and (min-width: 280px) and (max-width: 560px) {
    .navbarContent{
        display: flex;
        /* flex-direction: row; */
        gap: 230px;
        justify-content: center;
        
    }
   .navbarContainer{
    border: none;
   }
    .aboutContent,.workshopContent{
    flex-direction: column;
    width: 100%;

   }
   .about , .aboutReg{
    width: 100%;
   }
   .about > p{
    text-align: center;
   }
   .workshoptext{
    padding: 50px 0 ;
    height: fit-content;


   }
  .workshopImg{
    height: 400px;
  }
  .workshopContainer , .studioContainer ,.artContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: stretch; */

    
}
.container{
    margin-bottom: 0;
    height: 100px;
    flex: 1;
    background-color: blanchedalmond;
}
  
  .studioContent{
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin-top: -40px;

  }
  .artproduct{
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  
  .arttext > p{
    /* flex-wrap: wrap; */
    text-align: center;
    padding:20px 20px;
}
.testimoniatext{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 30px;
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
    position: relative;
    top: 50%;
    left: 34vw;
    z-index: 20;
    margin-top: -150px;
    animation: fadee 1s ease 0s 1 normal forwards;

}
.contact{
    margin-top: -10px;
}
.contact,.footerContainer{
width:242vw ;
border: black;
/* min-width: 100vw; */
}
.footerContainer{
    padding: 20px 0;
}
.testimoniatext{
           
    left: 74vw;
    

}
}
@media only screen and (width: 375px) {
    .contact,.footerContainer{
        width:267vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .testimoniatext{
           
            left: 74vw;
            
        
        }
}

@media only screen and (min-width: 390px) {
    .contact,.footerContainer{
        width:256vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .testimoniatext{
           
            left: 74vw;
            
        
        }
}
@media only screen and (min-width: 393px) {
    .contact,.footerContainer{
        width:254vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .testimoniatext{
           
            left: 74vw;
            
        
        }
}
@media only screen and (min-width: 360px) {
    .contact,.footerContainer{
        width:278vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .testimoniatext{
           
            left: 74vw;
            
        
        }
}
@media only screen and (min-width: 412px) {
    .contact,.footerContainer{
        width:243vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .testimoniatext{
           
            left: 74vw;
            
        
        }
}
@media only screen and (min-width: 540px) {
    .contact,.footerContainer{
        width:186vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .testimoniatext{
           
            left: 74vw;
            
        
        }
}
@media only screen and (min-width: 820px) {
    .contact,.footerContainer{
        width:122vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .contact{
            margin-top: -2px;
        }
        .testimoniatext{
           
            left: 54vw;
            
        
        }
}
@media only screen and (min-width: 768px) {
    .contact,.footerContainer{
        width:130vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .contact{
            margin-top: -2px;
        }
        .testimoniatext{
           
            left: 54vw;
            
        
        }
}
@media only screen and (min-width: 912px) {
    .contact,.footerContainer{
        width:110vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .contact{
            margin-top: -2px;
        }
        .testimoniatext{
           
            left: 54vw;
            
        
        }
}
@media only screen and (min-width: 280px) {
    .contact,.footerContainer{
        width:359vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .contact{
            margin-top: -2px;
        }
        .testimoniatext{
           
            left: 64vw;
            
        
        }
}
@media only screen and (min-width: 412px) {
    .contact,.footerContainer{
        width:243vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .contact{
            margin-top: -2px;
        }
        .testimoniatext{
           
            left: 64vw;
            
        
        }
}
@media only screen and (min-width: 1280px) {
    .contact,.footerContainer{
        width:100vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .contact{
            margin-top: -2px;
        }
        .testimoniatext{
           
            left: 34vw;
            
        
        }
}
@media only screen and (min-width: 1024px) {
    .contact,.footerContainer{
        width:100vw ;
        border: black;
        /* min-width: 100vw; */
        }
        .contact{
            margin-top: -2px;
        }
        .testimoniatext{
           
            left: 34vw;
            
        
        }
}